<nav class="navbar navbar-light bg-light">
  <div class="company-intro">
    <h2 style="color:#5D5D5D">Insurance Company</h2>
    </div>
    <div class="nav-items">

        <div class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/payment" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Payment Details</a>
        </div>
        <div class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Login</a>
        </div>

        <div class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
        </div>
    </div>
</nav>

<!-- <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
<a routerLink="/payment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Payment Details</a>
<a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Login</a> -->

<router-outlet></router-outlet>
