/* Overall Page Styling */
body {
  padding: 20px;
  font-family: sans-serif;
}

/* Container Styling (Optional) */
.container {
  max-width: 900px;
  margin: 0 auto;
}

/* Payment Details Page Heading */
.text-center {
  text-align: center;
  margin: 0 auto;
}

/* Form Container Styling */
.payment-form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

/* Table Container Styling */
.payment-table-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-top: 50px;
}

/* Form Styling */
.form-control {
  height: 40px;
  border-radius: 5px;
}

.mb-3 {
  margin-bottom: 15px;
}

.text-danger {
  color: red;
  font-size: 12px;
}

/* Button Styling */
.btn-primary,
.btn-secondary {
  border-radius: 5px;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Custom Styling for Specific Elements */
.card-owner-name {
  text-transform: uppercase;
}

.card-number {
  /* Truncate the card number to show only the last 4 digits */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}

.cvv {
  /* Limit the width of the CVV field to accommodate 3 digits */
  max-width: 30px;
}

.actions {
  text-align: center;
}

/* Table Header Styling */
th {
  background-color: #f2f2f2;
  font-weight: bold;
}
